## Deliverable 3. Create a Travel Itinerary Map.

In [36]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from g_config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [37]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,12,Georgetown,MY,82.33,moderate rain,5.4112,100.3354,Cititel Penang
1,14,Rikitea,PF,76.30,overcast clouds,-23.1203,-134.9692,People ThankYou
2,15,Atuona,PF,78.53,few clouds,-9.8000,-139.0333,Villa Enata
3,17,Sola,VU,80.53,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
4,18,Maceio,BR,83.64,broken clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió

In [48]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<d1>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<d1>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [49]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "San Patricio"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Patricio"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Nazas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Etchoropo"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Meadow Lake"]
vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
147,469,Meadow Lake,US,75.4,clear sky,34.8014,-106.5436,TumbleWeed RV Park

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

gmaps.configure(api_key = g_key)

fig = gmaps.figure()

driving_map = gmaps.directions_layer(start,end,waypoints = [stop1, stop2, stop3],travel_mode = "DRIVING")
fig.add_layer(driving_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,152,San Patricio,US,82.26,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,626,Nazas,MX,77.95,clear sky,25.2333,-104.1333,Hotel Río Nazas
2,423,Etchoropo,MX,75.85,clear sky,26.7667,-109.6667,Campo de Andrés cruz jusaino
3,469,Meadow Lake,US,75.40,clear sky,34.8014,-106.5436,TumbleWeed RV Park

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<d1>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
<d1>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))